<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Foods</h1>

        <div class="food-posts">
            <% for (let post of allPosts) { %>

                <a href="/gtgv/foods/<%=post._id%>"><h1><%=post.title%></h1>
                </a>
                <a href="/gtgv/foods/<%=post._id%>">
                    <img src="<%=post.img%>" alt="">
                </a>
                <p><%=post.description%></p>
                <h3><%=post.tag%></h3>
                <form action="/gtgv/foods/<%=post._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE">
                </form>
            <% } %>
        </div>

        <a href="/gtgv/foods/newPost">New Post</a>
        <a href="/gtgv/">Home</a>
    </body>
</html>
