<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1><%=post.title%></h1>
        <img src="<%=post.img%>" alt="post-image">
        <p><%=post.description%></p>
        <h3><%=post.tag%></h3>
        <a href="/gtgv/foods/<%=post.id%>/edit">Edit me</a>
        <a href="/gtgv/foods">Foods</a>
    </body>
</html>
